@import "reset.css";

:root {
	--green: hsl(140 60% 10% / 1);
	--gold: hsl(45 93% 57% / 1);

	--background-color: var(--green);
	--color: var(--gold);
}

html {

	color: var(--color);
	background-color: var(--background-color);
	scroll-snap-type: block proximity;
	scroll-snap-stop: always;
	scroll-padding-block-start: 1rem;

	&>body {
		display: contents;

		&>header {
			display: grid;
			gap: 1rem;
			min-height: 100dvh;
			place-content: center;
			text-align: center;
		}

		&>main {

			&>section {
				min-height: calc(100dvh - 2rem);
				margin: 2rem;
				padding: 2rem;
				border: 2px var(--color) solid;
				scroll-snap-align: start;
			}


		}
	}

}


@keyframes scroll-down {

	0%,
	100% {
		transform: translateY(0);
	}

	66% {
		transform: scale(105%) translateY(0.5rem);
	}
}

.scroll-down {
	animation: infinite 2s scroll-down ease-in-out;
}

@media (prefers-reduced-motion: reduce) {
	.scroll-down {
		translate: 0;
	}
}
